.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input {
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #fffbfc;
}

.title{
  text-align: center;
}

.buttons {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 10px;
}

.save{
  padding: 10px 20px 10px 20px;
}

.cancel{
  background-color: transparent;
  color: #b41c3c;
  transition: color 0.3s ease;

  &:hover{
    background-color: transparent;
    color: #1e1e1e;
  }
}
