.card {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 10px;
  background: #fffbfc;
  box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.2);
}

.actions {
  display: flex;
  gap: 1rem;
  margin-top: 20px;
}

.edit, .delete{
  color: #d7778a;
  font-size: 20px;
  transition: color 0.3s ease;
  cursor: pointer;

  &:hover{
    color:#1e1e1e;
  }

  &:active{
    color:#1e1e1e;
  }
}

.isExpired{
  color: red;
  font-weight: 600;
  margin-top: 10px;
}
