.container {
  padding: 2rem 1.2rem 8rem 1.2rem; 
}

.title {
  margin-bottom: 1rem;
}

.subtitle {
  margin-top: 40px;
  font-size: 1.2rem;
  font-weight: 500;
  color: #1e1e1e;
}

.noContracts{
  margin-top: 20px;
}

.loadMoreBtnContainer{
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.loadMoreBtn{
  padding: 10px 20px;
}

.addCardButton, .newAccess{
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr); 
  gap: 1rem;
  margin-top: 2rem;
}

/* tablet */
@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(3, 1fr); 
    gap: 1.5rem;
  }

  .container {
  padding: 4rem 2rem 9rem 2rem; 
  }

  .subtitle {
  font-size: 1.4rem;
  font-weight: 500;
}
}

/* desktop */
@media (min-width: 1026px) {
  .grid {
    grid-template-columns: repeat(4, 1fr); 
    gap: 2rem;
  }

  .container {
  padding: 4rem 0 10rem 0; 
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  }

}

/* Bottone "+" come card */
.addCardPlus {
  display: flex;
  color: #d2778a;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  background-color: #fffbfc;
  border: 2px dashed #d2778a;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background 0.3s;

  &:hover{
      background-color: #f0d6da;
  }
  &:focus{
      background-color: #f0d6da;
  }
}
