.header{
  display: flex;
  justify-content: center;
  background-color: #fffbfc;
  box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.2);
  padding: 7px 0 7px 0;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 90%;
}

.logo {
  width: 75px;
  margin-left: -5px;
}

@media (min-width: 768px) {
  .headerContainer{
    width: 95%;
  }

  .logo {
  width: 75px;
  margin-left: 0;
}
}

@media (min-width: 1026px) {
  .headerContainer{
    max-width: 1300px;
  }
}

.container {
  flex-grow: 1;
  text-align: center;
  padding: 4rem 1rem;
}

.container h1 {
  margin-top: 50px;
  font-size: 5rem;
  margin-bottom: 1rem;
}

.container p {
  margin-bottom: 1rem;
}

.arrowIcon {
  margin-bottom: -2px;
  margin-left: 2px;
}